@import url(../styles/common.css);

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
    margin: 0;
}

body {
  background-color: var(--bodyBg);
  background-image: var(--bodyImg);
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  padding-bottom: 120px;
}
.todo-app { 
    transform: translateY(60px);
}

.headings--pic {
    height: 1.4rem;
}

.profile-info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 1rem;
    color: var(--LightGrayishBlue);
    background-color: var(--VeryDarkDesaturatedBlue);
}

.profile-img{
    /* width: 10rem !important;
    height: 10rem !important; */
   display: flex;
   justify-content: center;
}

.profile-img img{
    width: 10rem !important;
    height: 10rem !important;
    border-radius: 50%;
    object-fit: cover;
}

.profile-img-loader {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 10rem;
    padding: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--VeryDarkGrayishBlue);
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: spinPI 1s infinite linear;
}

@keyframes spinPI {to{transform:translate(-50%, 0%) rotate(1turn)}}


.profilePic {
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50%;
    object-fit: 50%;
    cursor: pointer;
    background-color: var(--VeryDarkDesaturatedBlue);
}

.profile-overlay, .loader-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
}

.home-loader {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem !important;
    padding: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: spinHL 1s infinite linear;
}

@keyframes spinHL {to{transform: translate(-50%, -50%) rotate(1turn)}}

.profile-info {
    margin-top: 1.5rem;
}

.profile-info p{
    font-size: 1.4rem;
    padding: 1.5px 0;
} 

.profile-info span{
    font-size: 1.2rem;
} 

.profile-btn {
    display: flex;
    justify-content: space-between;
}

.custom-file-upload, .remove-avt {
    font-size: 1rem;
    border: 1px solid var(--LightGrayishBlue);;
    padding: 3px 8px;
    margin-top: 9px;
    cursor: pointer;
  }

  .file-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .file-upload-wrapper img{ 
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .file-upload-input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }

#fileImgDisplay {
    background-color: var(--VeryDarkDesaturatedBlue);
  }

  

.toggleColors {
    background-color: transparent;
    border: none;
}
.inputBox {
    background-color: var(--VeryDarkDesaturatedBlue);
    margin-top: 18px;
}
.inputCheck {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid hsl(233, 11%, 84%);
    margin-right: 15px;
    cursor: pointer;
}
.check {
    position: relative;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid hsl(233, 11%, 84%);
    cursor: pointer;
}

.check:hover {
    border: 2px solid hsl(192, 100%, 67%);
}

.checked {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url(../images/icon-check.svg), linear-gradient(to right,  hsl(192, 100%, 67%) ,  hsl(280, 87%, 65%));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
}
.listCheck:checked ~ .check { 
border: none;
}
.listCheck:checked ~ .check > .checkMark {
    display:block;
}
.listCheck:checked ~ p { 
text-decoration: line-through;
color: var(--DarkGrayishBlue);
}
.inputData {
    color: var(--LightGrayishBlue);
    font-size: 18px;
}
.inputData:focus {
    outline: none;
}

.taskBox {
    background-color: var(--VeryDarkDesaturatedBlue);
    padding: 0 !important;
    box-shadow: var(--boxShadow);
}
.taskList {
    gap: 10px;
    color: var(--LightGrayishBlue);
}
.taskList:not(:first-child) {
    border-top: 1.6px solid var(--VeryDarkGrayishBlue);
}
.taskText {
    font-size: 18px;
    flex: 1;
}
.taskText--checked { 
    text-decoration: line-through;
    color: var(--DarkGrayishBlue);
}
.removeTask {
    margin-left: auto;
    width: 25px;
    display: none;
    cursor: pointer;
}

.taskList:hover .removeTask {
    display: block;
}

.removeTaskPic {
    transform: scale(.8);
}


.taskInfo {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--DarkGrayishBlue);
    box-shadow: var(--boxShadow);
}

.customText:nth-child(1) {
    color: var(--BrightBlue);
    cursor: pointer;
}
.customText:nth-child(2) {
    cursor: pointer;
}
.customText:nth-child(2):hover { 
    color: var(--LightGrayishBlue);
}

.clear {
    cursor: pointer;
}

.clear:hover {
    color: var(--LightGrayishBlue);
}
.taskInfoSub {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--DarkGrayishBlue);
    box-shadow:var(--boxShodowDim);
}
.drag {
    color: var(--DarkGrayishBlue);
    font-size: 18px;
}
.bordertp {
    border-top: 1.6px solid var(--VeryDarkGrayishBlue);
}

.logout {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 12rem;
    height: 4rem;
    border-radius: 4rem;
    border: none;
    font-size: 1.5rem;
    font-weight:500;
    color: white;
    background-color: var(--BrightBlue);
}
.hidden {
    display: none;
}

@media only screen and (max-width: 576px) {
    body {
        background-image: url(/images/bg-mobile-dark.jpg);
    }

    .todo-app {
        max-width: calc(100% - 3rem);
        margin: 0 1.5rem;
    }

    .removeTask {
        margin-left: auto;
        width: 25px;
        display: block;
    }

    .profile-info-box { 
        width: calc(100% - 2rem);
    }
}
